//gravity forms

.wpcf7 {
	padding: 0 10px 50px;
	opacity: 0;
	transition: opacity .1s linear;
	
	.wpcf7-form {
		margin: 0 -10px;
	}
	
	input, textarea {
		background-color: lighten($color-yellow, 10%);
		border: 0;
		display: block;
		height: 40px;
		width: 100%;
		&[type="checkbox"], &[type="submit"] {
			width: auto;
		}
		&.wpcf7-submit {
			width: auto;
			border: 1px solid black;
			padding: 4px 10px 2px;
			text-transform: uppercase;
			background: none;
			font-family: 'font-mono';
		}
	}
	
	textarea { height: 100px; }

	p { margin: 0; overflow: auto; }

	.wpcf7-form-control-wrap {
		display: block;
		float: left;
		margin-bottom: 15px;
		padding: 0 10px;
		&.wpcf7-text, &.wpcf7-date {
			width: 50%;
		}
		&.wpcf7-textarea, &.wpcf7-checkbox, &.wpcf7-checkbox {
			width: 100%;	
		}
		&.wpcf7-submit {
			clear: left;
		}
	}
	
	.wpcf7-checkbox {
		margin-left: -15px;
		margin-right: -15px;
		span.wpcf7-list-item {
			float: left;
			width: 25%;
			padding: 0 15px;
			margin: 0;
			label { display: block; overflow: auto; }
			input { float: left; height: auto; margin: 1px 5px 0 0; }
			span { float: left; }
		}
	}
	
	.wpcf7-response-output {
		margin: 15px 15px 20px;
		background: black;
		color: white;
		border: 0;
		padding: 10px 10px 7px;
		clear: left;
	}

	&.loaded {
		opacity: 1;
	}
}