//styles for program page

#program {
	
	form#program-search {
		background-color: $color-gray-dark;
		padding: 0 5px 5px 5px;
		margin-bottom: 20px;
		
		label {
			color: $color-white;
			font-family: 'font-mono';
			font-weight: normal;
			text-transform: uppercase;
			font-size: 7pt;
			letter-spacing: 1px;
		}
		
		input {
			width: 100%;
			border: 0;
			background-color: $color-white;
		}
	}
	
	small a {
		float: right;
		margin-top: 3px;
		font-family: 'font-mono';
		font-weight: normal;
		color: $color-gray-darker;
	}
	
	#schedule {
		
		h1 {
			border-bottom: 1px solid $color-blue;
			margin: 0;
			padding: 30px 0 10px;
			cursor: pointer;
		}
		
		.slot {
			border-bottom: 1px solid $color-blue;
			padding: 2px 0;
			overflow: auto;
			position: relative;
			h3 { 
				font-size: 14pt;
				margin: 3px 0 6px; 
			}
			.info {
				padding: 4px;
			}
			.session {
				padding: 3px 0;
				.inner {
					background-color: $color-blue-light;
					height: 100px;
					font-size: 11pt;
					padding: 5px;
					overflow: hidden;
					small {
						display: block;
					}
					a {
						font-family: 'font-regular';
						&.title {
							display: block;
							font-family: 'font-bold';
						}
					}
				}
			}
		}
		
	}
	
	@media (min-width: $screen-sm-min) {
		
		form#program-search {
			min-height: 200px;
		}
		
		#schedule .slot {
			padding-left: 200px;
			
			.info {
				position: absolute;
				left: 0;
				top: 7px;
			}
			
			.session {
				padding: 3px;
				float: left; 
				width: 50%;
				&.lightning-workshop, &.affiliate-event {
					width: 25%;
				}
				&.keynote-lunch {
					width: 100%;
				}
			}
		}
	}
	
	
}