//styles for program page

body.post-type-archive-mscw_session {
	
	form#program-search {
		background-color: $color-gray-dark;
		min-height: 200px;
		padding: 5px;
		
		label {
			color: $color-white;
			font-family: 'font-mono';
			font-weight: normal;
			text-transform: uppercase;
			font-size: 7pt;
			letter-spacing: 1px;
		}
		
		input {
			width: 100%;
			border: 0;
			background-color: $color-white;
		}
	}
	
	.schedule {
		color: $color-blue;
		
		.slot {
			border-top: 1px solid $color-blue;
			padding-left: 200px;
			overflow: auto;
			position: relative;
			h4 { margin-bottom: 10px; }
			.info {
				position: absolute;
				left: 0;
				top: 7px;
			}
			.session {
				background-color: lighten($color-blue, 40%);
				height: 100px;
				padding: 5px;
				width: 120px;
				float: left; 
				margin: 7px;
			}
		}
	}
	
}