body.single-mscw_session {
	
	.session {
		background-color: $color-blue;
		color: $color-white;
		padding: 20px 15px;
		
		h1 {
			margin-bottom: 10px;
		}
		
		.meta {
			font-size: 11pt;
			margin-bottom: 30px;
			small {
				font-size: 100%; 
				margin-left: 15px;
			}
		}
	}
	
}