//template -- stuff that goes on every page and is does not also belong in the WP editor

body {
	&.admin-bar {
		div#wpadminbar { position: fixed; }
		#utility { top: 46px; }
	}
	&.page, &.blog, &.single-post { 
		#content {
			padding-top: 50px;
			.post {
				padding-top: 10px;
				padding-bottom: 10px;
				border-top: 1px solid black;
				h3 { text-transform: uppercase; }
			}
		}
	}
}

nav {
	&#utility {
		background-color: $color-blue;
		color: $color-white;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 2.4;
		padding-top: 8px;
		text-transform: uppercase;
		position: fixed;
		top: 0; 
		left: 0;
		width: 100%; 
		.where { text-align: right; }
		.social { text-align: center; }
		a { 
			color: $color-white;
		}
		#menu-social-menu { 
			line-height: 1;
			list-style: none; 
			padding: 0;
			margin: 0;
			display: inline-block;
			li {
				float: left;
				a { 
					font-size: 24px;
					&:hover { text-decoration: none; }
				}
				& + li {
					margin-left: 15px;					
				}
			}
		}
	}
	&#footer {
		#menu-tab-menu {
			z-index: 100; //because it has to go in the header
			.menu-toggle { cursor: pointer; }
			.menu-close { display: none; }
			li { display: none; }
			&.open {
				.menu-open { display: none; }
				.menu-close, li { display: block; }
			}
			background-color: $color-yellow;
			list-style: none;
			padding: 5px 30px; 
			margin: 0;
			text-align: center;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			a { 
				font-size: 20px;
				font-family: 'font-mono';
				color: inherit; 
			}
		}
	}
}

header {
	padding-top: 88px;
	background-color: $color-gray;
	#logo {
		background-image: url(../img/logos/stacked.svg);
		background-size: contain;
		width: 250px;
		height: 134px;
		background-repeat: no-repeat;
		text-indent: 100%;
		margin: 8px 0 20px; //top margin here to align with bottom of form on desktop
		white-space: nowrap;
		overflow: hidden;
	}
	#menu-header-menu {
		list-style: none;
		padding: 20px 0 0 0;
		margin: 0 0 20px;
		float: right;
		clear: right; 
		li {
			float: left;
			a {
				color: inherit;
				font-size: 1.8rem;
				font-family: 'font-mono';
			}
			&.current_page_item a { text-decoration: underline; }
			& + li {
				margin-left: 15px;
				&:before {
					content: "|";
					margin-right: 15px;
				}
			}
		}
	}
	form {
		float: right; 
		font-size: 10pt;
		color: darken($color-gray, 40%);
		input#receive_updates {
			font-size: 10pt;
			background-color: lighten($color-gray, 3%);
			border: 0;
			border-bottom: 1px solid darken($color-gray, 20%);
			padding: 10px 3px 3px;
			margin-left: 10px;
		}
	}
}

footer {
	p {
		border-top: 	1px solid black;
		font-size: 10pt;
		margin: 50px 0 0;
		padding: 15px 0 80px;
		text-align: center;
	}
}

#circle, #triangle {
	position: fixed;
	opacity: 0;
	cursor: move;
	transition: linear opacity .1s;
	&.loaded {
		opacity: 1;
	}
	.shape { opacity: .8; }
	&:hover .shape { opacity: 1; }
}

#triangle {
	left: -20px;
	bottom: 150px;
	width: $triangle-width * .8;
	height: $triangle-height * .8;
	.shape {
		border-style: solid;
		border-width: 0 $triangle-width * .8 / 2 $triangle-height * .8;
		border-color: transparent transparent $color-green transparent;
		height: 0;
		width: 0;
	}
	.text {
		color: $color-white;
		font-size: 16px;
		font-family: 'font-mono';
		margin: 0 auto;
		position: absolute;
		text-align: center;
		top: $triangle-height * .8 / 2;
		width: 100%;
		a {
			display: block; 
			font-family: 'font-bold';
			color: $color-white;
			font-size: 20px;
			margin-top: 20px;
			text-decoration: underline;
		}
	}
}

#circle {
	display: none;
}

@media (min-width: $screen-sm-min) {
	body {
		&.admin-bar #utility {
			top: 32px;
		}
		&.page #footer, &.blog #footer, &.single-post #footer {
			position: static;
			background-color: $color-gray;
		}
	}
	header {
		padding-top: 62px;
		#menu-header-menu { padding-top: 40px; }
	}
	#triangle {
		width: $triangle-width;
		height: $triangle-height;
		.shape {
			border-width: 0 $triangle-width / 2 $triangle-height;
		}
		.text {
			font-size: 18px;
			top: $triangle-height / 2;
			a { font-size: 24px; }
		}
	}
	#circle {
		display: block;
		right: -20px;
		top: 260px;
		width: $circle-width;
		height: $circle-width;
		border-radius: $circle-width / 2;
		overflow: hidden;
		.shape {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: $color-pink;
		}
		a {
			position: absolute;
			left: $circle-width / 5;
			right: $circle-width / 5;
			top: $circle-width / 5;
			bottom: $circle-width / 5;
			font-size: 19px;
			font-family: 'font-bold';
			overflow: hidden;
			text-align: center;
			line-height: $circle-width * 3 / 5;
			color: inherit;
			span {
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		small {
			font-family: 'font-mono';
			font-size: 14px;
			position: absolute;
			left: $circle-width / 5;
			right: $circle-width / 5;
			top: ($circle-width / 5) - 24;
			text-align: center;
		}
	}
	nav {
		&#utility {
			text-align: left;
			padding-bottom: 5px;
			#menu-social-menu { 
				float: right;
			}
		}
		&#footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: 100;
			#menu-tab-menu {
				position: static;
				left: auto;
				right: auto;
				bottom: auto;
				.menu-toggle { display: none; }
				li {
					display: inline-block;
					a {
						color: inherit;
						font-size: 17px;
						text-transform: uppercase;
						letter-spacing: 2px;
						padding: 0 10px;
					}
					& + li {
						padding-left: 0;
						&:before { 
							content: "|"; 
							margin-right: 10px;
						}
					}
					&.current_page_item a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}