//basic typography that also goes in editor-style

a { 
	font-family: 'font-bold';
	font-weight: normal;
	color: $color-blue; 
	cursor: pointer;
	&:hover { 
		color: $color-blue;
		text-decoration: underline;
	}
}

b, strong {
	font-family: 'font-bold';
	font-weight: normal;
}

body {
	background: $color-gray;
	font-family: 'font-regular';
	font-size: 12pt;
	&.page, &.blog, &.single-post, &.post-type-page {
		background-color: $color-yellow;
	}
}

h1 {
	font-family: 'font-bold';
	font-weight: normal;
	font-size: 20pt;
	margin: 0 0 20px; 
}

h2 {
	font-weight: normal;
	font-size: 20pt;
	margin: 0 0 20px; 
}

h3 {
	font-family: 'font-bold';
	font-weight: normal;
	font-size: 16pt;
	margin: 0;
}

h4 {
	font-family: 'font-bold';
	font-weight: normal;
	font-size: 12pt;
	margin: 0;
	text-transform: uppercase;
}

hr {
	border: 0;
	border-top: 1px solid black;
}

iframe {
	max-width: 100%;
}

p {
	margin: 0 0 20px; 
}

small {
	font-family: 'font-mono';
}
