//colors
$color-gray:			rgb(234, 234, 234);
$color-blue:			rgb(38,  110, 181);
$color-green:		rgb(60,  136,  66);
$color-white:		rgb(255, 255, 255);
$color-black: 		rgb(34,   34,  34);
$color-pink:			rgb(245, 175, 177);
$color-yellow:		rgb(247, 228,  99);

$color-gray-dark:	rgb(177, 177, 177);
$color-gray-darker:	rgb(128, 128, 128);
$color-blue-light:	rgb(188, 201, 217);
